* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'montserrat', sans-serif;
	background-color: #2f73b3 !important;
}








.searchbox {
	display: block;
	width: 100%;

	


	color: white !important;
	font-size: 20px;
	font-weight: 300;

	transition: 0.4s ease-out;
}
::placeholder{
  color:white !important;
}

.searchbox:focus {
	box-shadow: 0px 0px 8px 3px #4484C4;
}

.results {
display:grid;
grid-template-columns: auto auto auto auto;

}

.results .result {
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.results .result img {
	display: block;
	width: 100%;
}

.results .result h3 {
	color: white;
	font-size: 20px;
	font-weight: 500;
	padding: 10px !important;
	background: #445565;
	flex: 1 1 100%;
	transition: 0.4s ease-out;
}

.results .result:hover h3 {
	background: white;
	color: #445565;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #141414;

	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;

	color: #FFF;
}

.popup .content h2 {
	font-size: 28px;
	font-weight: 600;
}
.popup .content h2 span {
	font-weight: 300;
	font-size: 20px;
}

.popup .content .rating {
	margin-bottom: 30px;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
}

.popup .content .close {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 500;

	background: rgb(24, 133, 243);
	color: white;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
margin-bottom: 45px;
	transition: 0.4s ease-out;
}
.clr{
  color:orangered;
}
.popup .content .close:hover {
	background: #2f73b3;
}
.italic{
  font-style: italic;
}
@media only screen and (max-width:768px) {
 .popup .content .plot {
display: grid !important;
grid-template-columns: auto !important;
}
.results{
  display:grid;
  grid-template-columns: 50% 50%;
}
.popup .content .plot img {
  display: grid !important;
align-content: center !important;
justify-content: center !important;


}
}